.container {
    position: relative;
    text-align: center;
    color:white;
    font-size:50px;  
}

/*  */

/* .......................................................................... */
a:active {
    background-color: #FFE4E1;
}
/* ............................................................................ */
.responsive {
    width: 100%;
    height: auto;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
}
/* .footer{
    padding-top:85px;
} */

h4{
    text-align: center;
    color: black;
}
h5{
    text-align: center;
    /* color: white; */
}

.about{
background:whitesmoke;
}
.bttn{
    
}

/* .crds{
    margin-left:10px;
    margin-right:10px;
} */



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAimSdtntTqL2lHcj7iEX5yqTZgjL2NGFA" async defer></script>