.container {
    position: relative;
    text-align: center;
    color:white;
    font-size:50px;
    
    /* margin-right: 100px; */
    
}
.responsive {
    width: 100%;
    height: auto;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
}
.footer{
    padding-top:85px;
}

h4{
    text-align: center;
    color: black;
}
h5{
    text-align: center;
    /* color: white; */
}
.about{
background:white;

}
.bttn{
    
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAimSdtntTqL2lHcj7iEX5yqTZgjL2NGFA" async defer></script>